@font-face {
	font-family: Helvetica-Bold;
	src: url(../../../assets/fonts/FontsFree-Net-HelveticaNeueCondensedBlack.ttf);
};

@font-face {
	font-family: Helvetica-Light;
	src: url(../../../assets/fonts/HelveticaNeueCyr-Light.ttf);
};

@font-face {
	font-family: Helvetica-Regular;
	src: url(../../../assets/fonts/HelveticaNeueCyr-Roman.ttf);
};

@font-face {
	font-family: Helvetica-Medium;
	src: url(../../../assets/fonts/HelveticaNeueCyr-Medium.ttf);
};