@import "_fonts.scss";

$font-light: Helvetica-Light;
$font: Helvetica-Regular;
$font-medium: Helvetica-Medium;
$font-bold: Helvetica-Bold;

.navbar {
    min-height: 74px;
    background: linear-gradient(180deg, rgba(0,0,0,.6) 0%, rgba(255,255,255,0) 100%);
}

.logo {
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 1.37px;
    font-family: $font-bold, sans-serif;
    
    & span {
        font-family: $font-light, sans-serif;
    }


}

.header-logo {
    color: white;
}

.footer-logo {
    color: #0aaee4;
}

.copyright-logo {
color: #242b2d;
font-size: 24px;
}

.btn {
 padding: 8px 22px;
 font-size: 14px;
 font-family: $font;
 color: white;
 border-radius: 3px;
 letter-spacing: 1.12px;
 margin-right: 20px;

 &:last-child {
     margin-right: 0;
 }

 &:hover {
     color: white;
 }
}

.primary {
    background-color: #0aaee4;
}

.search-btn {
    margin-right: 20px;
}